.pools-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 832px;
  .pools-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    height: 56px;
    .pool-header {
      display: flex;
      flex-direction: column;
    }
    > .btn {
      margin-left: auto;
    }
  }
  input {
    max-width: 350px;
  }
}
.pool-name {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  position: relative;

  .token-icon {
    + .token-icon {
      margin-left: 3px;
    }
  }

  p {
    margin-left: 8px;
  }
}

@media screen and (max-width: 599px) {
  .pool-list__item,
  .pools-list-header {
    .position__column,
    .total-day__column,
    .total-7day__column {
      display: none !important;
    }
  }
}
