@import '../../styles/vars';

.pools-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 0.5rem;
}
.pools-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .pools-list-header {
    > div {
      display: flex;
      align-items: center;
      font-family: 'Mulish', sans-serif;
      font-weight: 700;
      color: $primary-color;
      &.tvl__column,
      &.total-day__column,
      &.total-7day__column {
        justify-content: flex-end;
      }
      &:not(.position__column) {
        cursor: pointer;
        &:hover {
          color: $secondary-color;
          svg {
            stroke: $secondary-color;
          }
        }
      }
      svg {
        stroke: $primary-color;
      }
    }
  }
  .pool-list__item,
  .pools-list-header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 1rem 0;
    align-items: center;
    &:hover:not(.pools-list-header) {
      > div {
        cursor: pointer;
        color: $primary-color;
      }
    }
    .position__column {
      flex: 0 1 30px;
    }
    .name__column {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      position: relative;
      padding-left: 3rem;
      .token-icon-wrapper {
        position: absolute;
        left: 0;
        + .token-icon-wrapper {
          position: absolute;
          margin-left: 1rem;
        }
      }
    }
    .tvl__column,
    .total-day__column,
    .total-7day__column {
      flex: 0 1 110px;
      text-align: end;
    }
  }
}
.pools-list-pagination {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
}

@media screen and (max-width: 599px) {
  .pool-list__item:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
  .pool-list__item,
  .pools-list-header {
    .position__column,
    .total-day__column,
    .total-7day__column {
      display: none !important;
    }
  }
}
