.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  color: var(--primary-color);
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  > span {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
  }
  &:hover {
    color: var(--primary-hover-color);
    > .icon {
      color: var(--primary-hover-color);
    }
  }
  &:disabled {
    cursor: not-allowed;
    color: var(--primary-disabled-color);
    > .icon {
      color: var(--primary-disabled-color);
    }
  }
  // Primary
  &.btn-primary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    &:hover {
      background-color: var(--primary-hover-color);
    }
    &:disabled {
      background-color: var(--secondary-color);
      color: var(--primary-disabled-color);
      > .icon {
        color: var(--primary-disabled-color);
      }
    }
    > .icon {
      color: var(--primary-text-color);
    }
  }
  // Secondary
  &.btn-secondary {
    background-color: var(--secondary-color);
    &:hover {
      background-color: var(--secondary-hover-color);
    }
    &:disabled {
      color: var(--primary-disabled-color);
    }
  }
  // Outline
  &.btn-outline {
    background-color: transparent;
    outline: 1px solid var(--primary-color);
    &:hover {
      outline-color: var(--primary-hover-color);
      color: var(--primary-hover-color);
    }
    &:disabled {
      color: var(--primary-disabled-color);
      outline-color: var(--primary-disabled-color);
    }
  }
  // Button sizes
  &.btn-small {
    padding: 8px 16px;
    border-radius: 8px;
    > span {
      font-size: 14px;
    }
  }
  &.btn-medium {
    padding: 12px 16px;
    border-radius: 8px;
  }
  &.btn-large {
    padding: 16px;
    border-radius: 12px;
  }
  > .icon {
    width: 24px;
    height: 24px;
    color: var(--primary-color);
  }
  &.btn-icon-start {
    > .icon:not(:only-child) {
      margin-right: 11px;
    }
  }
  &.btn-icon-end {
    > .icon:not(:only-child)  {
      margin-left: 11px;
    }
  }
}
