.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: var(--secondary-hover-color);
  }
  &:disabled {
    cursor: not-allowed;
    color: var(--primary-disabled-color);
    > .icon {
      color: var(--primary-disabled-color);
    }
  }
  // Primary
  &.btn-primary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    &:hover {
      background-color: var(--primary-hover-color);
    }
    &:disabled {
      background-color: var(--secondary-color);
      color: var(--primary-disabled-color);
      > .icon {
        color: var(--primary-disabled-color);
      }
    }
    > .icon {
      color: var(--primary-text-color);
    }
  }
  // Default
  &.btn-default {
    background-color: transparent;
    &:hover {
      color: var(--primary-hover-color);
    }
    &:disabled {
      color: var(--primary-disabled-color);
    }
  }
  // Icon
  &.btn-icon {
    background-color: transparent;
    &:hover {
      > .icon {
        color: var(--primary-hover-color);
      }
    }
    &:disabled {
      > .icon {
        color: var(--primary-disabled-color);
      }
    }
    > .icon {
      margin-right: 0;
      color: var(--primary-color);
    }
  }

  &.medium {
    padding: 8px 16px;
    border-radius: 8px;
  }
  > .icon {
    margin-right: 12px;
    color: var(--primary-color);
  }
}
