.buttons__column {
  display: flex;
  align-items: center;
  flex: 0 1 240px;
  gap: 0.5rem;
}
.account__column {
  flex: 0 1 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 599px) {
  .pool-details__header {
    flex-direction: column;
    gap: 16px;
  }
  .pool-details__header-actions {
    margin-left: initial;
  }
  .pool__info {
    flex-direction: column;
  }
  .table {
    .column:not(:last-child) {
      display: none;
    }
    .column:last-child {
      flex: 1 1 auto;
    }
    .table__column-account,
    .table__column-amount0,
    .table__column-amount1,
    .table__column-amountusd {
      display: none !important;
    }
    .link__btn {
      font-size: 13px !important;
    }
  }
}
