@import '../../styles/vars';

.swap-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  > span {
    border-bottom: 1px solid $border-color;
    padding: 0 0 8px;
  }
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > span:not(:first-child) {
      text-align: end;
    }
  }
  .price {
    .positive {
      display: flex;
      align-items: center;
      svg {
        stroke: $success-color;
      }
      span {
        color: $success-color;
      }
    }
    .negative {
      svg {
        stroke: $error-color;
      }
      span {
        color: $error-color;
      }
    }
  }
}
