@import '../../styles/vars';

.swap-info {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 8px 0;
  > span {
    line-height: 16px;
    margin-right: 8px;
  }
  .btn-icon svg {
    width: 16px;
    height: 16px;
  }
  &.loading {
    opacity: 0.5;
  }
}

.switch__btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}
.swap__btn {
  width: 100%;
  margin: 8px 0;
}
