@import "../../styles/vars";
.swap-settings-modal.modal-container {
  .modal-content {
    width: 50vw;
    max-width: 420px;
  }
}
.settings-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}
