.swap-info-wrapper {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
    gap: 16px;
    white-space: nowrap;
    > span:not(:first-child) {
      text-align: end;
    }
  }
  .price {
    .positive {
      display: flex;
      align-items: center;
      svg {
        stroke: var(--success-color);
      }
      p {
        color: var(--success-color);
      }
    }
    .negative {
      display: flex;
      align-items: center;
      svg {
        stroke: var(--error-color);
      }
      p {
        color: var(--error-color);
      }
    }
  }
}
