.list {
  display: flex;
  width: calc(100% + 12px);
  &__content {
    overflow: hidden scroll !important;
    background:
            linear-gradient(var(--modal-background-color) 30%, var(--modal-background-color)),
            linear-gradient(var(--modal-background-color), var(--modal-background-color) 70%) 0 100%,
            radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
            radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 12px, 100% 12px, 100% 6px, 100% 6px;
    background-attachment: local, local, scroll, scroll;
    scrollbar-color: var(--modal-scrollbar-thumb-background) var(--modal-scrollbar-track-background);
    scrollbar-width: thin;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: var(--modal-scrollbar-track-shadow);
      background-color: var(--modal-scrollbar-track-background);
    }
    &::-webkit-scrollbar {
      width: var(--modal-scrollbar-width);
      background-color: var(--modal-scrollbar-background);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--modal-scrollbar-thumb-background);
    }

    &.list__content--empty {
      display: flex;
      align-items: center;
      justify-content: center;
      > div {
        text-align: center;
        margin-right: 6px;
        .icon {
          width: 64px;
          height: 64px;
          margin-bottom: 8px;
          color: var(--list-empty-text-color);
        }
        p {
          color: var(--list-empty-text-color);
        }
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 66px;
    cursor: pointer;
    gap: 20px;
    padding: 8px 16px;
    border-radius: 8px;
    &:hover {
      background-color: var(--list-hover-color);
    }
    .icon, .token-icon {
      flex: 0 0 auto;
    }
    .list__title {
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;
      gap: 8px;
      overflow: hidden;
    }
    .list__total {
      flex: 0 0 auto;
      margin-left: auto;
      color: var(--label-color);
    }
  }
}
