.remove-liquidity-confirm-modal.modal__container {
  .modal__background {
    .modal {
      width: 100%;
      max-width: 512px;
    }
  }
}
.remove-liquidity-confirm-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .remove-liquidity-list {
    display: flex;
    flex-direction: column;
    > .remove-liquidity-list-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
      > .remove-liquidity-item-token {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
    }
  }
  .help-text {
    padding: 24px 0;
    font-weight: 400;
  }
  .remove-liquidity-info {
    padding: 8px 16px;
    border: 1px solid var(--list-border-color);
    border-radius: 8px;
    margin-bottom: 24px;
    .remove-liquidity-info__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 8px 0;
      .remove-liquidity-pool__tokens {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        .token-icon:first-of-type {
          margin-left: 8px;
        }
        .token-icon:not(:first-of-type) {
          margin-left: 2px;
        }
      }
      .remove-liquidity-pool__price, .liquidity-pool__share {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .remvoe-liquidity-pool__price {
        margin-bottom: 8px;
      }
    }
  }

  .remove-liquidity-info-wrapper {
    > span {
      padding: 0 0 8px;
    }
    .remove-liquidity-price {
      padding: 0.5rem 0;
    }
  }
  .pool-tokens-info {
    text-align: center;
    margin-top: auto;
  }
  .supply__btn {
    margin-top: auto;
  }
  .remove-liquidity-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
    padding-top: 20px;
    > span {
      text-align: center;
    }
    .btn {
      width: 100%;
      margin-top: auto;
    }
  }
}
