.swap-settings-modal.modal-container {
  .modal-background {
    .modal {
      height: auto;
      width: 50vw;
      max-width: 512px;
    }
  }
}
.settings-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border-radius: 8px;
  h6 {
    margin-bottom: 12px;
  }
  .setting-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    > p {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 24px;
      .tooltip-wrapper {
        margin-left: 8px;
        height: 24px;
      }
      .icon {
        cursor: pointer;
      }
    }
    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
