input {
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  padding: 20px 16px;
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  &.number__input {
    text-align: end;
  }
  &:hover {
    border-color: var(--input-hover-color);
  }
  &:focus {
    outline: 0 !important;
    border-color: var(--input-focus-color);
  }
  &::placeholder {
    color: var(--input-placeholder-color);
  }
}
