a {
  color: #0088CC;
  text-decoration: none;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

a:hover {
  color: #333;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}
