a:not(.nav-item__btn) {
  color: $primary-color;
  text-decoration: none;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  &:hover {
    color: $secondary-color;
    transition: color .3s;
  }
  &.active {
    color: $secondary-color;
  }
}

.link__btn {
  display: inline-block;
  color: $primary-color;
  cursor: pointer;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  text-decoration: none;
  &.active {
    color: $secondary-color;
  }
  &:hover {
    color: $secondary-color;
  }
}
