$gold-palette: (
  100: #fef7d5,
  200: #feedad,
  300: #fee083,
  400: #fed365,
  500: #febf32,
  600: #da9c24,
  700: #b67c19,
  800: #935e0f,
);

$blue-palette: (
  100: #e2f0ff,
  200: #c5dfff,
  300: #a9cdff,
  400: #93bdff,
  500: #5f97ff,
  600: #517ddb,
  700: #385bb7,
  800: #233e93,
);

$green-palette: (
  100: #eefde2,
  200: #d8fcc5,
  300: #bcf6a6,
  400: #a0ed8d,
  500: #76e268,
  600: #50c24c,
  700: #34a239,
  800: #21832d,
);

$yellow-palette: (
  100: #fefae5,
  200: #fef4c6,
  300: #fee793,
  400: #fed861,
  500: #fec62d,
  600: #daa320,
  700: #b68316,
  800: #93640e,
);

$red-palette: (
  100: #fdeded,
  200: #fbdadc,
  300: #f5a3a7,
  400: #ef6b72,
  500: #ea3943,
  600: #e8212b,
  700: #cb151e,
  800: #941016,
);

$gray-palette: (
  'white': #ffffff,
  100: #fbfcff,
  200: #f6f7fa,
  300: #f3f4f7,
  400: #e7e8ee,
  500: #dbdde6,
  600: #cfd1dd,
  700: #c3c6d5,
  800: #b7bbcc,
  900: #abafc4,
  1000: #a0a4bb,
  1100: #9498b3,
  1200: #888daa,
  1300: #7c81a2,
  1400: #707699,
  1500: #666c8f,
  1600: #5d6383,
  1700: #555a77,
  1800: #4c516b,
  1900: #44485f,
  2000: #3b3f54,
  2100: #323546,
  2200: #2a2d3c,
  2300: #222531,
  2400: #17171a,
  'black': #000000,
);
