h1 {
  font-size: 96px;
  line-height: 104px;
  font-weight: 600;
}

h2 {
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
}

h3 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
}

h4 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.title-1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.title-2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.sub-title-1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.sub-title-2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

button, a {
  line-height: 24px;
  &.small {
    font-size: 12px;
    font-weight: 700;
  }
  &.medium {
    font-size: 14px;
    font-weight: 600;
  }
  &.large {
    font-size: 16px;
    font-weight: 600;
  }
}

label {
  color: var(--label-color);
  &.small {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
  }
  &.medium {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
  }
  &.large {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
  }
}

