h1 {
  font-family: "mulish-black", serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: normal;
}
h3 {
  font-family: "mulish-black", serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: normal;
}

h1 span,
h3 span,
h1 a,
h3 a {
  font: inherit;
}

h4 {
  font-family: "mulish-bold", serif;
}

sup {
  font-size: 10px;
  color: inherit;
}

.text-primary {
  color: $primary-color;
}

.text-gray,
.text-gray span {
  color: $text-gray-color;
}

.text-medium,
.text-medium span,
.text-medium a {
  font-size: 19px;
  line-height: 24px;
}

.text-bold,
.text-bold span,
strong, b {
  font-family: "mulish-black", serif;
  font-weight: normal;
}

.text-semibold {
  font-family: "mulish-bold", serif;
  font-weight: normal;
}

.text-small {
  font-size: 13px;
  line-height: 16px;
}

.text-error {
  color: $error-color;
}

.align-right {
  margin-left: auto;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 45px;
    line-height: 56px;
  }
}
