$primary-color: #0088CC;
$secondary-color: #303757;
$text-gray-color: rgba(48, 55, 87, 0.56);
$border-color: rgba(48, 55, 87, 0.16);
$hover-color: rgba(48, 55, 87, 0.08);
$btn-hover-color: #0072ab;
$error-color: rgb(253, 64, 64);
$success-color: rgb(39, 174, 96);
