@import 'palletes';

$primary-color: #0088cc;
$secondary-color: #303757;
$text-gray-color: rgba(48, 55, 87, 0.56);
$border-color: rgba(48, 55, 87, 0.16);
$hover-color: rgba(48, 55, 87, 0.08);
$btn-hover-color: #0072ab;
$error-color: rgb(253, 64, 64);
$success-color: rgb(39, 174, 96);
$warning-color: rgb(253, 193, 64);

:root {
  // Common
  --background-color: #{map-get($gray-palette, 2400)};
  --text-color: #{map-get($gray-palette, 'white')};
  --label-color: #{map-get($gray-palette, 900)};
  --primary-color: #{map-get($gold-palette, 500)};
  --primary-hover-color: #{map-get($gold-palette, 600)};
  --primary-disabled-color: #{map-get($gray-palette, 1800)};
  --primary-text-color: #{map-get($gray-palette, 'black')};
  --secondary-color: #{map-get($gray-palette, 2300)};
  --secondary-hover-color: #{map-get($gray-palette, 2200)};
  // Header navigation
  --nav-text-color: #{map-get($gray-palette, 900)};
  --nav-active-text-color: #{map-get($gold-palette, 500)};
  // Modals
  --modal-background-color: #{map-get($gray-palette, 2400)};
  --modal-text-color: #{map-get($gray-palette, 'white')};
  --modal-scrollbar-track-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  --modal-scrollbar-track-background: #{map-get($gray-palette, 2300)};
  --modal-scrollbar-width: 6px;
  --modal-scrollbar-background: #{map-get($gray-palette, 2300)};
  --modal-scrollbar-thumb-background: #{map-get($gold-palette, 500)};
  // Links
  --link-color: #{map-get($blue-palette, 500)};
  --link-hover-color: #{map-get($blue-palette, 600)};
  --link-disabled-color: #{map-get($gray-palette, 1800)};
  // Inputs
  --input-border-color: #{map-get($gray-palette, 2200)};
  --input-hover-color: #{map-get($gray-palette, 2200)};
  --input-focus-color: #{map-get($gray-palette, "white")};
  --input-text-color: #{map-get($gray-palette, "white")};
  --input-placeholder-color: #{map-get($gray-palette, 1200)};
  --input-background-color: transparent;
  // Dropdown
  --dropdown-border-color: #{map-get($gray-palette, 2300)};
  --dropdown-hover-color: #{map-get($gray-palette, 2300)};
  --dropdown-focus-color: #{map-get($gray-palette, "white")};
  // List
  --list-hover-color: #{map-get($gray-palette, 2300)};
  --list-border-color: #{map-get($gray-palette, 2300)};
  // Spinner
  --spinner-color: #{map-get($gold-palette, 500)};
}
