.header-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 12px 0;
  gap: 16px;
}

header {
  flex: 0 0 auto;
  align-self: center;
  h4 {
    display: inline-block;
    color: var(--primary-color);
  }

  .logo {
    display: inline-block;
    text-decoration: none;
  }

  .logo img {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    margin-right: 12px;
  }

  .logo h4 {
    vertical-align: middle;
  }
}
.nav-wrapper {
  margin-left: initial;
  justify-content: center;
}
.header-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  .wallet {
    .btn {
      width: 190px;
    }
  }
}
.nav-item.balance, .nav-item.theme {
  display: none;
}

@media screen and (min-width: 1000px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 954px) {
  .header-wrapper {
    flex-direction: row;
    padding: 12px 48px;
    gap: 0;
  }
  .nav-wrapper {
    margin-left: auto;
    justify-content: initial;
    margin-right: auto;
  }
  .header-buttons {
    flex: 0 0 380px;
    justify-content: flex-end;
  }
  .nav-item.balance, .nav-item.theme {
    display: block;
  }
}
