.header-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem 4rem;
}

header {
  flex: 0 0 auto;
  align-self: center;
  h4 {
    display: inline-block;
    color: var(--primary-color);
  }

  .logo {
    display: inline-block;
    text-decoration: none;
  }

  .logo img {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    margin-right: 12px;
  }

  .logo h4 {
    vertical-align: middle;
  }
}
.header-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  .wallet {
    .btn {
      width: 190px;
    }
  }
  .btn {
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 700px) {
  .header-wrapper {
    flex-direction: row;
  }
}
