@import "../styles/vars";

.header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 2rem 2rem 1rem;
  justify-content: space-between;
}

header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  align-self: center;
}

nav {
  background-color: #fff;
  width: 100%;
  box-shadow: none;
  overflow: auto;
  z-index: 10;
  display: block !important;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc(100% - 200px);
  flex: 1 1 calc(100% - 200px);
  overflow: unset;
  max-width: unset;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  &.open {
    right: 0;
    -webkit-transition: right .5s;
    -o-transition: right .5s;
    transition: right .5s;
  }
  .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 24px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    align-items: center;
  }
  .nav-item__btn {
    display: block;
    padding: 8px 4px;
    color: $primary-color;
    font-size: 19px;
    line-height: 24px;
    cursor: pointer;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    font-family: "mulish-bold", serif;
    text-decoration: none;
    &.active {
      color: $secondary-color;
    }
  }
  .nav-item__btn:hover {
    color: $secondary-color;
  }
  .nav-item {
    position: relative;
    width: auto;
    margin-bottom: 0;

    &.wallet {
      > .btn {
        width: 178px;
        &:not(.btn-outline) {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}


@media screen and (min-width: 1000px) {
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 700px) {
  .header-wrapper {
    flex-direction: row;
    gap: 0;
    padding: 4rem 2rem 2rem;
  }
  nav {
    .nav-list {
      justify-content: flex-end;
    }
  }
}
