nav {
  display: block;
  width: 100%;
  z-index: 10;
  flex: 1 1 100%;
  margin-left: 150px;
  .nav-list {
    position: relative;
    display: flex;
    margin-top: 0;
    flex-wrap: wrap;
    align-items: center;
  }
  a.nav-item__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 14px 16px;
    color: var(--nav-text-color);
    cursor: pointer;
    transition: color .3s;
    text-decoration: none;
    &.active, &:hover {
      color: var(--nav-active-text-color);
    }
  }
  .nav-item__underline {
    position: absolute;
    bottom: 0;
    box-shadow: inset 0px -2px 0px var(--nav-active-text-color);
    width: 120px;
    height: 2px;
    will-change: left, width;
    transition: left .2s, width .2s;
  }
}
