@import "../styles/vars";
.swap-settings-modal.modal-container {
  .modal-content {
    height: 250px;
    width: 50vw;
    max-width: 420px;
  }
}
.settings-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    .tooltip-wrapper {
      margin-left: 0.5rem;
    }
  }
}
