@import "../styles/vars";

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.25rem;
  padding: 1rem 1rem 0.75rem;
  border: 1px solid $border-color;
  &.view-only {
    .token-input {
      .btn {
        outline: 0;
        pointer-events: none;
        padding-left: 0;
        .token-icon-wrapper {
          left: 0;
          + .token-icon-wrapper {
            left: 24px;
            + span {
              margin-left: 52px;
            }
          }
          + span {
            margin-left: 28px;
          }
        }
      }
    }
  }
  &:hover {
    border-color: $primary-color;
  }
  > div {
    display: flex;
    flex-direction: row;
  }
  .token-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    .btn {
      position: relative;
      margin-right: 0.75rem;
      flex: 0 0 auto;
      .token-icon-wrapper {
        position: absolute;
        left: 8px;
        + .token-icon-wrapper {
          left: 32px;
          + span {
            margin-left: 44px;
          }
        }
      }
      .token-icon-wrapper + span {
        margin-left: 20px;
      }
      span {
        margin-right: 20px;
      }
      svg {
        position: absolute;
        right: 10px;
        float: right;
      }
    }
    input {
      flex: 1 1 auto;
      font-size: 24px;
      text-align: right;
      border: 0;
      outline: 0;
      -moz-appearance: textfield;
      padding: 0;
      &:focus {
        outline:none !important;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }
}
