.notifications-wrapper {
  position: fixed;
  width: 360px;
  max-width: 100%;
  top: 80px;
  right: 0;
  padding: 0 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
}
.notification {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 8px;
  color: var(--notification-text-color);
  backdrop-filter: blur(8px);
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.2rem;
  position: relative;
  margin-top: 1rem;
  width: 100%;
  .title {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 500;
    margin: 0 0 5px 0;
  }
  &:hover,
  &:focus {
    opacity: 1;
  }
  &.leave {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    &.active {
      visibility: hidden;
      transform: translate3d(100%, 0, 0);
      transition: all 0.4s;
    }
  }
  &.enter {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
    &.active {
      visibility: visible;
      transform: translate3d(0, 0, 0);
      transition: all 0.4s;
    }
  }
}

.notification-info {
  background-color: var(--notification-info-background);
}

.notification-success {
  background-color: var(--notification-success-background);
}

.notification-warning {
  background-color: var(--notification-warning-background);
}

.notification-error {
  background-color: var(--notification-error-background);
}
