.liquidity-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  &.loading {
    opacity: 0.5;
  }
  > p {
    font-weight: 600;
  }
  .liquidity-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    .liquidity-info__item {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      gap: 4px;
      padding: 8px 12px 16px 12px;
      > p {
        font-weight: 600;
      }
      > label {
        font-weight: 400;
      }
    }
  }
}
