.import-pool-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 480px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  position: relative;

  .import-pool-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
    > div {
      display: flex;
      align-items: center;
      .tooltip-wrapper {
        margin-left: 0.5rem;
      }
    }
    .btn-icon.chevron {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  .import__btn {
    width: 100%;
    margin: 8px 0;
  }
}
