@import "../../styles/vars";

.add__btn {
  width: 100%;
  margin: 8px 0;
}

.pool-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  width: 100%;
  padding: 0 1rem;
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  > span {
    padding: 1rem;
  }
  .pool-item-wrapper {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    > div {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      > div {
        position: absolute;
        left: 0;
        + div {
          left: 1rem;
        }
      }
    }
    > span {
      margin-left: 3rem;
    }
  }
  .pool-item-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      > div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    .token-icon-wrapper {
      margin-left: 0.25rem;
    }
  }
}

.import-pool {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
