.pool-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 832px;
  width: 100%;
  position: relative;

  .pool-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    .pool-header {
      display: flex;
      flex-direction: column;
    }
    > .btn {
      margin-left: auto;
    }
  }
}

.pool-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  width: 100%;
  padding: 16px 32px;
  border: 1px solid var(--accordion-border-color);
  border-radius: 8px;
  margin-bottom: 40px;
  > p {
    padding: 16px;
    color: var(--list-empty-text-color);
  }
  > .pool-list--empty {
    padding: 16px;
    .icon {
      width: 64px;
      height: 64px;
      margin-bottom: 8px;
      color: var(--list-empty-text-color);
    }
    p {
      color: var(--list-empty-text-color);
    }
  }
  .pool-item-wrapper {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    > .pool-item-tokens {
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 6px;
      align-items: center;
    }
    > span {
      margin-left: 32px;
    }
  }
  .pool-item-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
      > p {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    .token-icon {
      margin-left: 10px;
    }
    .pool-item-details-actions {
      margin-top: 20px;
      padding: 0;
      gap: 8px;
      > .btn {
        flex: 1 1 auto;
      }
    }
  }
}
