$tooltip-margin: 5px;
$tooltip-margin-bottom: 24px;
.tooltip {
  display: flex;
  position: relative;
}

.tooltip__tip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background: var(--tooltip-background-color);
  font-size: 12px;
  font-family: sans-serif;
  line-height: 16px;
  z-index: 1000;
  width: 300px;
  border-radius: 4px;
  &--bottom {
    top: calc(#{$tooltip-margin-bottom});
  }
  &--right {
    left: calc(100% + #{$tooltip-margin});
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }
  &--top {
    bottom: calc(#{$tooltip-margin} * -1);
  }
  &--left {
    left: auto;
    right: calc(100% + #{$tooltip-margin});
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }
}
