.token-select-modal.modal__container {
  .modal__background {
    .modal {
      height: 712px;
      width: 100%;
      max-width: 512px;
    }
  }
}
.token-select {
  display: flex;
  flex-direction: column;
  height: 100%;
  .input {
    flex: 0 0 auto;
  }
  .token-select__header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    svg {
      height: 20px;
    }
  }
}

@media screen and (max-width: 599px) {
  .token-select-modal.modal__container {
    .modal__background {
      .modal {
        height: 80% !important;
        width: 100%;
        max-width: 512px;
      }
    }
  }
}
